
h1{
    text-align: center; 
    margin-top: 50px;
}

p{
    font-family: 'Kaushan Script', cursive;
    font-size:larger;
    margin-top:50px;
    text-align:center;
}  

body{
 
    background-color:skyblue; 
}   
