<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/app.css">
    <title>Questions</title>
</head>
<body>

    <h1>Madlibs</h1>
    <form action="/story" >
    <div class="text-box-container"> 
    {% for prompt in prompts %}   
    <label id="label" for="{{ prompt}}" >{{ prompt }}:</label>
    <input id ="{{ prompt}}" class="input" type="text" placeholder="{{ prompt }}" name="{{prompt}}">
    <br>
    {% endfor %}
    <button>Submit</button>
    </div> 
    </form>
    
</body>
</html>